.header {
    background-image: linear-gradient(to right, navy, white);
    height: 50px;
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 10px
}

.header-title {
    font-size: 18pt;
    color: beige;
    font-family: Monaco, monospace;
    vertical-align: middle;
}


.header-image{
    width: 50px;
    height: auto;
    float: right;
    text-align: right;
}

.header-image-parent{
    float: right !important;
}